@import "~bootstrap/dist/css/bootstrap.min.css";
.card {
  display: inline-block;
  margin: auto;
  height: 400px;
  width: 250px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  padding-top: 145px;
  position: relative;
  font-size: 80px;
}
.top-suit {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}
.bottom-suit {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}
body {
  box-sizing: border-box;
}
.redSymbol {
  color: red;
}

.blackSymbol {
  color: black;
}
